{% extends 'base.html' %}
{% block title %}{% endblock title %}

{% block content %}
    <h1 style="color:red">Parolni o'zgartirish</h1>
    <p>Iltimos xavfsizlik uchun eski parolni kiriting so'ngra parolni o'zgartirish uchun yangi parol yozing!</p>
    <form method="post">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" style="background-color:green">Parolni o'zgartir</button>
    </form>
<hr>
<h3>Parolni unutdingizmi?</h3>
<button type="submit" style="background-color:orange"><a href="{% url 'password_reset' %}">parolni tiklash</a></button>
{% endblock content %}